body {
    font-family: Arial, sans-serif;
    background-image: url("../static/backgroundPokedex.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
}

/* Container de Detalhes */
.detail-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(0, 30, 60, 0.8); /* Azul escuro semitransparente */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.8); /* Efeito neon */
    text-align: center;
}

.detail-container h1 {
    margin-bottom: 15px;
    font-size: 2rem;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.detail-container img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
}

.detail-container p {
    margin: 10px 0;
    font-size: 1.2rem;
}

.detail-container p strong {
    color: rgba(0, 255, 255, 0.8); /* Azul claro para destaque */
}

.btn {
    text-decoration: none;
    padding: 10px 20px;
    background-color: rgba(0, 30, 60, 0.8); /* Fundo azul escuro */
    color: white;
    border-radius: 5px;
    border: 2px solid rgba(0, 255, 255, 0.6); /* Borda neon */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    display: inline-block;
    margin-top: 20px;
}

.btn:hover {
    background-color: rgba(0, 60, 90, 0.9);
    box-shadow: 0 0 10px rgba(0, 255, 255, 1); /* Efeito neon mais forte */
}

/* Responsividade */
@media (max-width: 600px) {
    .detail-container {
        width: 90%;
        margin: 20px auto;
    }
}
